Repository polyfy/polylith, pull requests merged in 2021-08, with the labels that each got.

#95 Use depstar for deployer
  components/deployer/src/polylith/clj/core/deployer/core.clj
  projects/api/deps.edn
  projects/api/partial_pom.xml
  projects/poly/deps.edn
  projects/poly/partial_pom.xml
  scripts/build-thin-jar.sh
Labels: bug, improvement

#98 Remove validation that stops you from creating a workspace within another workspace
  components/command/src/polylith/clj/core/command/cmd_validator/create.clj
  components/creator/test/polylith/clj/core/creator/workspace_test.clj
  scripts/create-example.sh
  scripts/output/local-dep-old-format/libs-migrated.txt
  scripts/output/local-dep-old-format/libs.txt
  scripts/output/local-dep-old-format/ws.edn
  scripts/output/local-dep/info.txt
  scripts/output/local-dep/ws.edn
  scripts/output/polylith1/deps-migrated.txt
  scripts/output/polylith1/deps.txt
  scripts/output/polylith1/info-migrated.txt
  scripts/output/polylith1/info.txt
  scripts/output/polylith1/libs-migrated.txt
  scripts/output/polylith1/libs.txt
Labels: bug, core

#102 Cleanup test script
  bases/poly-cli/src/polylith/clj/core/poly_cli/core.clj
  components/change/src/polylith/clj/core/change/core.clj
  components/creator/test/polylith/clj/core/creator/workspace_test.clj
  components/deps/test/polylith/clj/core/deps/text_table/data/usermanager.clj
  components/git/src/polylith/clj/core/git/core.clj
  components/git/src/polylith/clj/core/git/interface.clj
  components/git/test/polylith/clj/core/git/interface_test.clj
  components/user-input/src/polylith/clj/core/user_input/core.clj
  readme.md
  scripts/create-example.sh
  scripts/output/local-dep-old-format/info-migrated.txt
  scripts/output/local-dep-old-format/ws.edn
  scripts/output/local-dep/ws.edn
  scripts/output/usermanager/info.txt
  scripts/output/usermanager/libs.txt
Labels: core, improvement

#104 Support fow showing 'deps' in a more compact format.
  components/common/src/polylith/clj/core/common/core.clj
  components/common/src/polylith/clj/core/common/interface.clj
  components/deps/src/polylith/clj/core/deps/text_table/project_deps_table.clj
  components/deps/src/polylith/clj/core/deps/text_table/workspace_deps_table.clj
  components/lib/src/polylith/clj/core/lib/text_table/lib_table.clj
  components/user-input/src/polylith/clj/core/user_input/core.clj
  doc/ws.md
  images/realworld-deps-components-compact.png
  readme.md
  scripts/create-example.sh
  scripts/output/local-dep-old-format/ws.edn
  scripts/output/local-dep/deps-compact.txt
  scripts/output/local-dep/deps-project-compact.txt
  scripts/output/local-dep/libs-compact.txt
  scripts/output/local-dep/ws.edn
  scripts/output/output.sh
  scripts/output/output.txt
  scripts/output/realworld/realworld-deps-components-compact.txt
  scripts/sections/testing/command-line-deps.edn
Labels: core, documentation, improvement

#105 Release: Version 0.2.0-alpha11
  components/version/src/polylith/clj/core/version/interface.clj
  doc/commands.md
  readme.md
Labels: release

#121 Add support for selecting which bricks to test
  components/change/src/polylith/clj/core/change/bricks_to_test.clj
  components/change/src/polylith/clj/core/change/core.clj
  components/change/test/polylith/clj/core/change/bricks_to_test_test.clj
  components/command/src/polylith/clj/core/command/core.clj
  components/help/src/polylith/clj/core/help/core.clj
  components/help/src/polylith/clj/core/help/info.clj
  components/help/src/polylith/clj/core/help/interface.clj
  components/help/src/polylith/clj/core/help/summary.clj
  components/help/src/polylith/clj/core/help/test.clj
  components/test-runner/src/polylith/clj/core/test_runner/core.clj
  components/user-input/src/polylith/clj/core/user_input/core.clj
  doc/commands.md
  images/testing-info-3a.png
  images/testing-info-3b.png
  images/testing-info-3c.png
  images/testing-info-3d.png
  readme.md
  scripts/create-example.sh
  scripts/output/help/01-help.txt
  scripts/output/help/14-info.txt
  scripts/output/help/18-test.txt
  scripts/output/help/help.sh
  scripts/output/help/update-commands-doc.sh
  scripts/output/local-dep/ws.edn
  scripts/output/output.sh
  scripts/output/output.txt
  scripts/output/testing-info-3a.txt
  scripts/output/testing-info-3b.txt
  scripts/output/testing-info-3c.txt
  scripts/output/testing-info-3d.txt
Labels: improvement
